<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Project_1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>util.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PasswordResetServlet</display-name>
		<servlet-name>PasswordResetServlet</servlet-name>
		<servlet-class>servlets.PasswordResetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateInfoServlet</display-name>
		<servlet-name>UpdateInfoServlet</servlet-name>
		<servlet-class>servlets.UpdateInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DisplayMyInfoServlet</display-name>
		<servlet-name>DisplayMyInfoServlet</servlet-name>
		<servlet-class>servlets.DisplayMyInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShowRequestedReimbursementsServlet</display-name>
		<servlet-name>ShowRequestedReimbursementsServlet</servlet-name>
		<servlet-class>servlets.ShowRequestedReimbursementsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DisplayAllReimbursementsServlet</display-name>
		<servlet-name>DisplayAllReimbursementsServlet</servlet-name>
		<servlet-class>servlets.DisplayAllReimbursementsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SubmitReimbursement</display-name>
		<servlet-name>SubmitReimbursement</servlet-name>
		<servlet-class>servlets.SubmitReimbursement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PasswordResetServlet</servlet-name>
		<url-pattern>/PasswordResetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateInfoServlet</servlet-name>
		<url-pattern>/UpdateInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayMyInfoServlet</servlet-name>
		<url-pattern>/DisplayMyInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowRequestedReimbursementsServlet</servlet-name>
		<url-pattern>/ShowRequestedReimbursementsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayAllReimbursementsServlet</servlet-name>
		<url-pattern>/DisplayAllReimbursementsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubmitReimbursement</servlet-name>
		<url-pattern>/SubmitReimbursement</url-pattern>
	</servlet-mapping>
</web-app>